
## From standard packages
import(methods)                         # Paranoid measure
importFrom(stats4, mle, coef)
importFrom(graphics, abline, arrows, axTicks, axis, axis.POSIXct, box,
           contour, curve, hist, image, layout, legend, lines, locator,
           mtext, par, plot, points, rect, rug, segments, text)
importFrom(grDevices, colorRampPalette, contourLines, dev.off, hsv, rgb)
importFrom(stats, approx, approxfun, bw.nrd, ecdf, lm, median, nls,
           nls.control, predict, quantile, sd, splinefun)
importFrom(utils, read.csv)

## runquantile for ZOC
importFrom(caTools, runquantile)
## bkde2d and rq for speed calibration
importFrom(KernSmooth, bkde2D)
importFrom(quantreg, rq)
## distance algorithms
importFrom(geosphere, distMeeus, distVincentyEllipsoid)

exportPattern("^[^\\.]")
exportClassPattern("^$")               # to over-ride classes implied above

exportClasses("TDR",
              "TDRspeed",
              "TDRcalibrate",
              "diveModel")

exportMethods("as.data.frame",
              "as.TDRspeed",
              "timeBudget",
              "coerce",
              "depth<-",
              "speed<-",
              "ccData<-",
              "getCCData",
              "getDepth",
              "getDAct",
              "getDPhaseLab",
              "getDiveModel",
              "getDtime",
              "getFileName",
              "extractDive",
              "getGAct",
              "plotTDR",
              "plotDiveModel",
              "plotZOC",
              "show",
              "getTDR",
              "getTime",
              "getSpeedCoef",
              "getSpeed",
              "plotBouts",
              "bec2",
              "bec3")
